@media only screen and (min-device-width: 900px) {
    /* styles for wide screens */
    html {
        background: url('images/backgrounds/Tel_Aviv_Tayelet.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    html, body {
        height: 100%;
        font-family: Alef, sans-serif;
    }
}

@media only screen and (max-device-width: 480px) {
    /* styles for wide screens */
    body {
        width: 100%;
        font-family: Alef, sans-serif;
    }
}

html, body {
    -webkit-transition: background 0.25s ease-in;
    -moz-transition: background 0.25s ease-in;
    -o-transition: background 0.25s ease-in;
    transition: background 0.25s ease-in;
}

body {
    background: rgba(255, 255, 255, 0);
    /*padding-top: 70px;*/

}

#map-canvas {
    width: 400px;
    height: 400px;
}

.navbar-default {
    direction: rtl;
    text-align: center;
    background-color: #009492;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 48px;
    line-height: 0px;
}

.navbar-default .navbar-brand {
    color: black;
}

.logo {
    float: right;
    margin: 1px;
}

.navbar-brand {
    padding: 5px;
}

div.container {
    height: 100%;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

.circle-buttons {
    padding: 2.5px;
    margin: 2.5px;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

div {
    opacity: 100;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

label {
    align-content: center;
}

.circle {
    display: inline-block;
    background: #bbbbbb;
    width: 50px;
    height: 50px;
    margin: 20px;
    align-content: center;
    vertical-align: middle;
    position: relative;
    border-color: white;
    border-width: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 3px 3px 0px 0px;
}

.circle:active, .active {
    background: #F49719; /*#89CCC7;*/
    box-shadow: -2px -2px 0px 0px;
}

.icon {
    position: absolute;
    align: center;
    vertical-align: middle;
}

.ecology {
    background: rgba(1, 133, 113, 0.5);
    opacity: 50;
}

.calories {
    background: rgba(128, 205, 193, 0.5);
    opacity: 50;
}

.money {
    background: rgba(223, 194, 125, 0.5);
    opacity: 50;
}

.time {
    background: rgba(166, 97, 26, 0.5);
    opacity: 50;
}

.transparent {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

h1, h2, h3, h4, h5, h6, label, p {
    -webkit-transition: color 1s ease-in;
    -moz-transition: color 1s ease-in;
    -o-transition: color 1s ease-in;
    transition: color 1s ease-in;
}

.ecology h2,
.ecology h3,
.ecology h4,
.ecology h5,
.ecology h6,
.ecology label,
.ecology p {
    color: whitesmoke;
    background: rgba(255, 255, 255, 0);

}

.calories h2,
.calories h3,
.calories h4,
.calories h5,
.calories h6,
.calories label,
.calories p {
    color: black;
    background: rgba(255, 255, 255, 0);
}

.money h2,
.money h3,
.money h4,
.money h5,
.money h6,
.money label,
.money p {
    color: black;
    background: rgba(255, 255, 255, 0);
}

.time h2,
.time h3,
.time h4,
.time h5,
.time h6,
.time label,
.time p {
    color: whitesmoke;
    background: rgba(255, 255, 255, 0);
}

.circle-label {
    margin-top: 55px;
    margin-right: 5px;
}

.know-box div {
    background: #444444;
}

.result {
    margin: 10px;
    padding: 5px;
    border-width: 5px;
    background: rgba(0, 0, 0, 0.75);
}

h4.result-text {
    color: white;
}

.go-btn {
    vertical-align: text-bottom;
    margin: 10px;
}

.about {
    align-items: center;
    padding: 5px;
    background: rgba(255, 255, 255, 0.75);
}


#map-canvas {
    width: 100%;
    height: 100%;
}
