html {
    background: url('images/backgrounds/the-road-ahead-black-and-white-douglas-barnard.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: background 1s ease-in;
    -moz-transition: background 1s ease-in;
    -o-transition: background 1s ease-in;
    transition: background 1s ease-in;
}

html {
    -webkit-transition: background 1s ease-in;
    -moz-transition: background 1s ease-in;
    -o-transition: background 1s ease-in;
    transition: background 1s ease-in;
}

body {
    height: 100%;
}

div.container {
    height: 100%;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

.circle-buttons {
    /*align-content: center;*/
    /*background: white;*/
    /*opacity: 0.75;*/
    padding: 2.5px;
    /*border-width: 2.5px;*/
    margin: 2.5px;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

div {
    opacity: 100;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

label{
    align-content: center;
}

.circle {
    display: inline-block;
    background: #bbbbbb;
    width: 50px;
    height: 50px;
    margin: 5px;
    align-content: center;
    vertical-align: middle;
    position:relative;
    border-color: white;
    border-width: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 3px 3px 0px 0px;
}

.circle:active, .active {
    background: #00d6b2;
    box-shadow: 0px 0px 3px 3px;
}

.icon {
    position: absolute;
    /*top:50%;*/
    /*height:25px;*/
    /*margin-top:5px;*/
    align: center;
    vertical-align: middle;
}

.ecology {
    background: rgba(1,133,113, 0.5);
    opacity: 50;
    /*background-image: url('the-road-ahead-black-and-white-douglas-barnard.jpg');*/
}

.calories {
    background: rgba(128,205,193, 0.5);
    opacity: 50;
    /*background-image: url('the-road-ahead-black-and-white-douglas-barnard.jpg');*/
}

.money {
    background: rgba(223,194,125, 0.5);
    opacity: 50;
    /*background-image: url('the-road-ahead-black-and-white-douglas-barnard.jpg');*/
}

.time {
    background: rgba(166,97,26, 0.5);
    opacity: 50;
    /*background-image: url('the-road-ahead-black-and-white-douglas-barnard.jpg');*/
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.header {
    background: mediumslateblue;

}

h1, h2, h3, h4, h5, h6, label, p {
-webkit-transition: color 1s ease-in;
-moz-transition: color 1s ease-in;
-o-transition: color 1s ease-in;
transition: color 1s ease-in;
}

.ecology h1,
.ecology h2,
.ecology h3,
.ecology h4,
.ecology h5,
.ecology h6,
.ecology label,
.ecology p {
    color: whitesmoke;

}

.calories h1,
.calories h2,
.calories h3,
.calories h4,
.calories h5,
.calories h6,
.calories label,
.calories p {
    color: black;
}

.money h1,
.money h2,
.money h3,
.money h4,
.money h5,
.money h6,
.money label,
.money p {
    color: black;
}

.time h1,
.time h2,
.time h3,
.time h4,
.time h5,
.time h6,
.time label,
.time p {
    color: whitesmoke;
}

.know-box div {
    background: #444444;
}

.navbar {
    margin-bottom: 10px;
}

/* line 32, ../sass/style.scss */
.navbar .navbar-inner {
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -ms-border-radius: 0px 0px 3px 3px;
    -o-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
}

#spinner {
    height: 300px;
}

.post {
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */
    *zoom: 1;
    position: relative;
    opacity: 1;
}

.post:before, .post:after {
    content: "";
    display: table;
}

.post:after {
    clear: both;
}

.post.invisible {
    opacity: 0;
}

.post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.post.animate {
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
}

.post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}

.post .post-content {
    float: left;
}

.post .post-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}

.post .post-content h3 a {
    display: inline-block;
    margin-right: 5px;
}

.post .post-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}

.post .post-content p {
    margin: 0;
}

.post .discuss {
    display: block;
    float: right;
    margin-top: 7px;
}

.comments {
    list-style-type: none;
    margin: 0;
}

.comments li h4 {
    font-size: 16px;
    margin: 0;
}

.comments li h4 .date {
    font-size: 12px;
    font-weight: normal;
}

.comments li h4 a {
    font-size: 12px;
}

.comments li p:last-child {
    margin-bottom: 0;
}

.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}

.load-more {
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}

.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}

.posts .spinner-container {
    position: relative;
    height: 100px;
}

.jumbotron {
    text-align: center;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 100;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.errors {
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}

.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}