<template name="know">
    <div class="circle-buttons">
        <h4 align="center">How do we go from here?</h4>

        <div class="row" align="center">
            <label>ECO</label>

            <div class="circle active">
                <span class="ecology"></span>
            </div>
            <label>Calories</label>

            <div class="circle">
                <span class="calories"></span>
            </div>
            <label>Money</label>

            <div class="circle">
                <span class="money"></span>
            </div>
            <label>Time</label>

            <div class="circle">
                <span class="time"></span>
            </div>
        </div>
        <hr>
        {{#each routes}}
            <div class="result">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <ul>
                            <li>
                                <h4 class="result-text">Method {{name}}</h4>
                            </li>
                            <li>
                                <h4 class="result-text">Time {{duration}}</h4>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <button class="btn btn-lg btn-success">GO!</button>
                    </div>
                </div>
            </div>
        {{/each}}

        <div class="col-lg-1" align="center">
            <span class="back arrow-left"></span>
        </div>

        <div class="col-lg-1" align="center">
            <button type="button" class="back btn btn-primary btn-lg">back</button>
        </div>
    </div>
</template>