<template name="know">
    <div class="container">
        <div class="row  center-block">
            <div class="circle-buttons">
                <h4 align="center">What is most important to you today?</h4>

                <div class="row center-block">
                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <button class="circle active">
                            <img class="ecology" src="images/ecology.png">
                        </button>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <button class="circle">
                            <img class="calories" src="images/calories.png">
                        </button>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <button class="circle">
                            <img class="money" src="images/money.png">
                        </button>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <button class="circle">
                            <img class="time" src="images/time.png">
                        </button>
                    </div>
                </div>
                <hr>
            </div>
            <div class="row center-block">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    {{#each routes}}
                        <div class="result {{type}}">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <h2 class="result-text" align="center">{{name}}</h2>
                                    <ul>
                                        <li>
                                            <h5 class="result-text">{{duration}} Minutes</h5>
                                        </li>
                                        <li>
                                            <h5 class="result-text">{{price}} NIS</h5>
                                        </li>
                                        <li>
                                            <h5 class="result-text">{{emmissions}} g/CO2</h5>
                                        </li>

                                        <li>
                                            <h5 class="result-text">{{calories}} Calories</h5>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <a href="/map">
                                        <button class="go-btn btn btn-lg btn-success">GO!</button>
                                    </a>
                                    <img src="/images/{{name}}.svg" height="65px">
                                </div>
                            </div>
                        </div>
                    {{/each}}

                    <div class="col-lg-1" align="center">
                        <a href="/">
                            <button type="button" class="back btn btn-primary btn-lg">back</button>
                        </a>
                    </div>
                    <br>
                </div>
                <div class="about hidden-xs col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h3>About AlterNative</h3>

                    <p>AlterNative is an app for in-city navigation, which helps you make conscious choices between transportation methods based on your current preference - protect the environment, burn calories, arrive quickly, or save money. Your choices generate anonymized data collected by the Tel Aviv Municipality to provide insights for transportation planning.</p>

                    <h3>How do we calculate the values?</h3>
                    <p> We use data from reliable sources, such as the European Cyclists Federation, and other authoritative sources to calculate emissions data and calorie burn.</p>
                    <ul>
                        <li><b>Bus:</b> A bus produces 101 gr. of CO2 emissions per KM, and riding a bus requires little or no calorie burn.</li>
                        <li><b>Walking:</b> Walking produces an insignificant CO2 emissions, and burns 4.4 calories per KM for an average built person.</li>
                        <li><b>Cycling:</b> Cycling produces 21 gr. of CO2 emissions per KM, and burns 9.45 calories per KM for an average built person.</li>
                        <li><b>Driving/Taxi:</b> An average car produces 271 gr. of CO2 emissions per KM, and requires little or no calorie burn.</li>
                    </ul>
                    <p>Source: <a href="http://www.ecf.com/wp-content/uploads/ECF_CO2_WEB.pdf" target="_blank">ECF CO2 Emissions Report</a></p>


                </div>
            </div>
        </div>
    </div>
    <small class="footer-scroll">AlterNative is powered by <a href="zencity.io">ZenCity</a> and developed by Yonatan Braude, <a href="http://shaief.com">Shai Efrati</a>, Ido Ivri and Eyal Feder</small>
</template>