<template name="know">
    <div class="container">
        <div class="row">
            <div class="circle-buttons">
                <h4 align="center">How do we go from here?</h4>

                <div class="row" align="center">
                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <div class="circle active">
                            <label class="circle-label">ECO</label>
                            <span class="ecology"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <div class="circle">
                            <label class="circle-label">Calories</label>
                            <span class="calories"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <div class="circle">
                            <label class="circle-label">Money</label>
                            <span class="money"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <div class="circle">
                            <label class="circle-label">Time</label>
                            <span class="time"></span>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="row" align="left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {{#each routes}}
                        <div class="result {{type}}">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ul>
                                        <li>
                                            <h4 class="result-text">Method {{name}}</h4>
                                        </li>
                                        <li>
                                            <h4 class="result-text">Time {{duration}}</h4>
                                        </li>
                                        <li>
                                            <h4 class="result-text">Money {{price}}</h4>
                                        </li>
                                        <li>
                                            <h4 class="result-text">Emmissions {{emmissions}}</h4>
                                        </li>

                                        <li>
                                            <h4 class="result-text">calories {{calories}}</h4>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <a href="/map">
                                        <button class="go-btn btn btn-lg btn-success">GO!</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {{/each}}

                    <div class="col-lg-1" align="center">
                        <button type="button" class="back btn btn-primary btn-lg">back</button>
                    </div>
                    <br>
                </div>
                <div class="about col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h1>About text</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                        cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis
                        ipsum.
                        Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu
                        eget
                        nulla. </p>

                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Curabitur
                        sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh.
                        Aenean
                        quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula
                        vel
                        nunc egestas porttitor. <b>Curabitur tortor</b>. Morbi lectus risus, iaculis vel, suscipit quis,
                        luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. </p>
                </div>
            </div>
        </div>
    </div>
</template>