<template name="setRoute">
    <br>
    <br>
    <div class="container">
        <div>
            <h4 align="center">Welcome to AlterNative!</h4>
            <h4 align="center">where would you like to get to?</h4>
        </div>

        <div class="row">
            <div class="col-lg-10 col-md-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-xs-12" align="center">
                    <input placeholder="from" class="from-location form-control" type="text">
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12" align="center">
                    <input placeholder="to" class="to-location form-control" type="text">
                </div>
                <hr>
                <div class="circle-buttons row">
                    <h4 align="center">What's important for you today?</h4>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="right">
                            <div class="circle active">
                                <label class="circle-label">ECO</label>
                                <span class="ecology"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="left">
                            <div class="circle">
                                <label class="circle-label">Calories</label>
                                <span class="calories"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="right">
                            <div class="circle">
                                <label class="circle-label">Money</label>
                                <span class="money"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="left">
                            <div class="circle">
                                <label class="circle-label">Time</label>
                                <span class="time"></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-1" align="center">
                        <a href="/know">
                            <button type="button" class="know btn btn-primary btn-lg">KNOW</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="map-canvas" style="display: none;  "></div>
</template>
