<template name="setRoute">
    <br>
    <br>
    <div class="container">
            <h4 align="center" class="question">Where are you going?</h4>

        <div class="row center-block">
            <div class="col-lg-10 col-md-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-xs-12" align="center">
                    <input placeholder="from" class="from-location form-control" type="text">
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12" align="center">
                    <input placeholder="to" class="to-location form-control" type="text">
                </div>
                <hr>
                <div class="circle-buttons row">
                    <h4 align="center">What is most important to you today?</h4>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="right">
                            <button class="circle active">
                                <!--<label class="circle-label">ECO</label>-->
                                <!--<span class="ecology"></span>-->
                                <img class="ecology" src="images/ecology.png">
                            </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="left">
                            <button class="circle">
                                <!--<label class="circle-label">Calories</label>-->
                                <!--<span class="calories"></span>-->
                                <img class="calories" src="images/calories.png">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="right">
                            <button class="circle">
                                <!--<label class="circle-label">Money</label>-->
                                <!--<span class="money"></span>-->
                                <img class="money" src="images/money.png">
                            </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="left">
                            <button class="circle">
                                <!--<label class="circle-label">Time</label>-->
                                <!--<span class="time"></span>-->
                                <img class="time" src="images/time.png">
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-1" align="center">
                        <a href="/know">
                            <button type="button" class="know btn btn-primary btn-lg">KNOW</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <small class="footer-no-scroll">AlterNative is powered by <a href="zencity.io">ZenCity</a> and developed by Yonatan Braude, <a href="http://shaief.com">Shai Efrati</a>, Ido Ivri and Eyal Feder</small>
    <div id="map-canvas" style="display: none;  "></div>
</template>
