<template name="setRoute">
    <header>
        <h4 align="center">Welcome to AlterNative!</h4>
        <h4 align="center">where would you like to get to?</h4>
    </header>

    <div class="row">
        {{loggingIn}}
        {{> loginButtons}}
        <div class="col-lg-10 col-md-12 col-xs-12">
            <label align="center">From</label>
            <input class="from-location form-control" type="text">
            <br>
            <label>To</label>
            <input class="to-location form-control" type="text">
        
            <div class="circle-buttons">
                <h4 align="center">What's important for you today?</h4>

                <div class="col-lg-10 col-md-10 col-xs-10 center">
                    <div class="row center">
                        <div class="col-lg-2 col-md-2 col-xs-2"></div>
                        <div class="col-lg-2 col-md-2 col-xs-4">
                            <label>ECO</label>

                            <div id="ecology" class="circle active"></div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-4" align="center">
                            <label>Calories</label>

                            <div id="calories" class="circle"></div>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-lg-2 col-md-2 col-xs-2"></div>
                        <div class="col-lg-2 col-md-2 col-xs-4" align="center">
                            <label>Money</label>

                            <div id="money" class="circle"></div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-4" align="center">
                            <label>Time</label>

                            <div id="time" class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="google-json-api">
                {{#each from_location}}
                    <!--<button type="button" class="btn btn-default btn-lg">-->
                    <span class="itemtag">{{name}}</span>
                    <!--</button>-->
                {{/each}}
            </div>
            <hr>
            <div class="col-lg-1" align="center">
                <button type="button" class="know btn btn-primary btn-lg">KNOW</button>
            </div>
        </div>
    </div>


    <div class="google-json-api">
        {{#each from_location}}
            <!--<button type="button" class="btn btn-default btn-lg">-->
            <span class="itemtag">{{name}}</span>
            <!--</button>-->
        {{/each}}
    </div>
    <hr>
</template>
